body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
  margin-bottom: 5px;
}

footer > div > a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav a {
  padding: 12px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.navtitle {
  text-decoration: none;
  font-weight: 700;
}

.navtitle:hover {
  text-decoration: underline;
}

.rightnav a {
  color: white;
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 3px;
  text-decoration: none;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  font-weight: 700;
  margin-right: 12px;
}

.article {
  width: 70%;
  margin: 100px auto 5px;
}

.article-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  padding: 0 300px 0 150px;
  font-family: "Vollkorn", serif;
}

.article-img-container,
.article-img {
  width: 100%;
}

.figcaption {
  max-width: 900px;
}

.figcaption p {
  color: #666;
}

.caption span {
  font-size: 13px;
  color: #888;
}

.figcaption p span {
  color: #888;
}

.article-content {
  width: 600px;
  margin: 2px auto;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-author a {
  color: #333;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.p-y a {
  text-decoration: none;
  color: #000;
}

.popular-articles a {
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-weight: 500;
  font-size: 17px;
}

.bottom-links > a {
  text-decoration: none;
  padding-left: 10px;
  color: #666;
}

.holder p a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.single-article p a {
  font-size: 17px;
  font-weight: 900;
  color: #212121;
  margin: 4px 0;
  text-decoration: none;
}

footer div a:hover {
  text-decoration: underline;
}

.bottom-links > a:hover {
  text-decoration: underline;
}

.article-meta .links a {
  padding: 6px;
  display: inline;
  margin-right: 12px;
  color: #000;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #eee;
  border: 1px solid #eeee;
}

.article-author a:hover {
  border-bottom: none;
}

.p-y a:hover {
  text-decoration: underline;
}

.single-article p a:hover {
  opacity: 0.8;
}

.article-meta .links a:hover {
  background: #fff;
}

.links {
  display: flex;
  align-items: center;
}

.links a.bookmark {
  border: none;
  background: none;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 0;
  border-radius: 0;
  margin-top: 2px;
}

.text-content {
  font-size: 20px;
  font-weight: 200;
  color: #333;
}

.comments::before {
  content: "615";
  font-size: 10px;
  position: absolute;
  text-align: center;
  padding: 5px;
}

.article-author {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

iframe {
  width: 100%;
  height: 358px;
}

.caption {
  font-size: 15px;
  color: #666;
  width: 77%;
}

.time {
  font-size: 12px;
  color: #666;
}

.editors-pick {
  position: absolute;
  right: 10vw;
  width: 240px;
  margin-top: -100px;
}

.holder img {
  width: 75px;
  height: 75px;
}

.holder p {
  font-size: 14px;
  margin: 0 10px;
}

.theory-content p {
  font-size: 14px;
}

.single-article p {
  font-size: 17px;
  font-weight: 900;
  color: #212121;
  margin: 4px 0;
}

.holder p:hover {
  text-decoration: underline;
}

.holder {
  display: flex;
  margin: 10px 0;
}

footer div h4 {
  font-size: 13px;
  font-weight: 900;
  color: rgb(51, 51, 51);
  margin: 0;
}

.editors-pick h4 {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.theory-container {
  height: 600px;
  width: 1000px;
  margin: 4rem 0 15rem;
  margin-left: -170px;
  position: relative;
}

.theory-image {
  width: 100%;
  height: 100%;
  background: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png")
    center no-repeat;
  background-size: cover;
}

.theory-content {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.7rem;
}

.t-1 {
  padding-top: 8.5rem;
}

.t-2 {
  padding-top: 9rem;
}

.theory-container figcaption {
  margin: 30px 0 0 0;
  padding-top: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.theory-container figcaption::before {
  content: "";
  position: absolute;
  padding-left: 99px;
  bottom: -136px;
  border-bottom: 1px solid #000;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 1200px;
  padding: 0 3%;
  margin: 50px auto;
}

.astronomy {
  grid-column: 1/4;
  grid-row: 1/2;
  border-top: 1px solid #333;
}

.popular {
  border-top: 1px solid #333;
  grid-column: 4/5;
  grid-row: 1/3;
}

.p-y {
  padding: 20px 0;
  margin: 0;
}

.b-1 {
  border-bottom: 1px solid rgb(226, 226, 226);
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  grid-gap: 10px;
}

.single-article {
  grid-column: 1fr;
}

.single-article img {
  width: 100%;
}

.popular-articles {
  padding-bottom: 10px;
}

.popular-articles:not(:last-child) {
  border-bottom: 1px solid rgb(226, 226, 226);
}

.main-popular {
  line-height: 27px;
}

.text-right {
  font-size: 10px;
  text-align: right;
  font-weight: 400;
}

.popular-articles:hover {
  opacity: 0.8;
}

.grid-box2 {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-top: 1px solid #333;
}

.grid-box2 h4 {
  grid-column: 1/4;
}

footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
  padding-bottom: 10px;
}

footer::before {
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
  position: absolute;
  width: 1200px;
}

footer h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

footer > div {
  grid-row: 2/3;
  line-height: 25px;
}

.home-page {
  justify-self: end;
  align-self: center;
  color: rgb(86, 123, 149);
  text-decoration: none;
  font-size: 11px;
  grid-column: 7/8;
}

.sub-foot {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
}

.large-style {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}

.sub-top {
  padding-bottom: 20px;
}

.large-style svg {
  padding-right: 10px;
}

.small-style {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.sub-middle {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
}

.sub-bottom {
  padding-top: 10px;
}

.bottom-links {
  color: rgb(102, 102, 102);
  font-size: 11px;
  font-weight: 400;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  width: 1200px;
  padding-bottom: 30px;
}

.bottom-links > a svg {
  padding-right: 3px;
}

@media (max-width: 900px) {
  .editors-pick {
    display: none;
  }
}
