body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav a {
  padding: 12px;
  color: black;
}

.navtitle {
  text-decoration: none;
  font-weight: 700;
}

.navtitle:hover {
  text-decoration: underline;
}

.rightnav a {
  color: white;
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 3px;
  text-decoration: none;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  font-weight: 700;
}

.article {
  width: 70%;
  margin: 5px auto;
}
.article-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  padding: 0 300px 0px 150px;
  font-family: "Vollkorn", serif;
}
.article-img-container,
.article-img {
  width: 100%;
}
.figcaption {
  max-width: 900px;
}
.figcaption p {
  color: #666666;
}
.figcaption p span {
  color: #888;
}
.article-content {
  width: 50%;
  margin: 2px auto;
}
.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-meta .links a {
  padding: 6px;
  display: inline;
  margin-right: 12px;
  color: #000;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #eeeeee;
  border: 1px solid #eeee;
}

.article-meta .links a:hover {
  background: #fff;
}

.links {
  display: flex;
  align-items: center;
}

.links a.bookmark {
  border: none;
  background: none;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 0px;
  border-radius: 0;
  margin-top: 2px;
}

.text-content {
  font-size: 20px;
  font-weight: 200;
  color: #333;
}

.comments::before {
  content: "615";
  font-size: 10px;
  position: absolute;
  text-align: center;
  padding: 5px;
}

.article-author {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.article-author a {
  color: #333;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.article-author a:hover {
  border-bottom: none;
}

iframe {
  width: 100%;
  height: 358px;
}

.caption {
  font-size: 15px;
  color: #666;
  width: 77%;
}

.caption span {
  font-size: 13px;
  color: #888;
}
