body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav a {
  padding: 12px;
  color: black;
}

.navtitle {
  text-decoration: none;
  font-weight: 700;
}

.navtitle:hover {
  text-decoration: underline;
}

.rightnav a {
  color: white;
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 3px;
  text-decoration: none;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  font-weight: 700;
}

.article {
  width: 70%;
  margin: 5px auto;
}
.article-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  padding: 0 300px 0px 150px;
}
.article-img-container,
.article-img {
  width: 100%;
}
.figcaption {
  max-width: 640px;
}
.figcaption p {
  color: #666666;
}
.figcaption p span {
  color: #888;
}
