body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}
img {
  width: 100%;
}
.wrapper {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
  margin-bottom: 5px;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav a {
  padding: 12px;
  color: black;
}

.navtitle {
  text-decoration: none;
  font-weight: 700;
}

.navtitle:hover {
  text-decoration: underline;
}

.rightnav a {
  color: white;
  border: 1px solid #326891;
  background-color: #567b95;
  border-radius: 3px;
  text-decoration: none;
  padding: 11px 12px 8px 12px;
  font-size: 11px;
  font-weight: 700;
}

.article {
  width: 70%;
  margin: 100px auto 5px;
}
.article-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  padding: 0 300px 0px 150px;
  font-family: "Vollkorn", serif;
}
.article-img-container,
.article-img {
  width: 100%;
}
.figcaption {
  max-width: 900px;
}
.figcaption p {
  color: #666666;
}
.figcaption p span {
  color: #888;
}
.article-content {
  width: 600px;
  margin: 2px auto;
}
.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-meta .links a {
  padding: 6px;
  display: inline;
  margin-right: 12px;
  color: #000;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #eeeeee;
  border: 1px solid #eeee;
}

.article-meta .links a:hover {
  background: #fff;
}

.links {
  display: flex;
  align-items: center;
}

.links a.bookmark {
  border: none;
  background: none;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 0px;
  border-radius: 0;
  margin-top: 2px;
}

.text-content {
  font-size: 20px;
  font-weight: 200;
  color: #333;
}

.comments::before {
  content: "615";
  font-size: 10px;
  position: absolute;
  text-align: center;
  padding: 5px;
}

.article-author {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.article-author a {
  color: #333;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.article-author a:hover {
  border-bottom: none;
}

iframe {
  width: 100%;
  height: 358px;
}

.caption {
  font-size: 15px;
  color: #666;
  width: 77%;
}

.caption span {
  font-size: 13px;
  color: #888;
}

.editors-pick {
  position: absolute;
  right: 10vw;
  width: 240px;
  margin-top: -100px;
}

.holder img {
  width: 75px;
  height: 75px;
}

.holder p {
  font-size: 14px;
  margin: 0 10px;
}

.holder p a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.holder p:hover {
  text-decoration: underline;
}

.holder {
  display: flex;
  margin: 10px 0;
}

.editors-pick h4 {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.theory-container {
  height: 600px;
  width: 1000px;
  margin: 4rem 0px 15rem;
  margin-left: -170px;
  position: relative;
}
.theory-image {
  width: 100%;
  height: 100%;
  background: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png")
    center no-repeat;
  background-size: cover;
}
.theory-content {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.7rem;
}
.theory-content p {
  font-size: 14px;
}
.t-1 {
  padding-top: 8.5rem;
}
.t-2 {
  padding-top: 9rem;
}
.theory-container figcaption {
  margin: 30px;
}
.theory-container figcaption::before {
  content: "";
  position: absolute;
  padding-left: 99px;
  bottom: -136px;
  border-bottom: 2px solid #333;
}
.grid-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.astronomy {
  grid-column: 1/2;
}
.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  grid-gap: 10px;
}
.single-article {
  grid-column: 1fr;
}
.single-article img {
  width: 100%;
}
